<a href="https://colab.research.google.com/github/Mbwas-Ayuba/AI-/blob/main/PythonSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Set

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is, *unordered, unchangeable*, and unindexed*

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

Sets cannot have two items with the same value.

To determine how many items a set has, use the len() function.

In [1]:
# Note also, the items in a set are unchangeable, however, we can remove items and add new ones
# Set items are written in curly brackets

# for example

thisset = {'Mangai', 'Makwal', 'Success'}
thisset

{'Makwal', 'Mangai', 'Success'}

In [2]:
# from the output of the above example, we can deduce that the items in a set are unorder, i.e we can not tell the manner in which they will appear

# also, set items can not duplicate value, for example:

myset = {'Mbwas', 'Favour', 'Melody', 'Melody'}
myset

{'Favour', 'Mbwas', 'Melody'}

In [4]:
# The values 'True' and '1' are considered the same in set, therefore, they dont duplicate.
# In the same way, 'False' and '0' dont duplicate because they are seen as one in set, for example:

class_set = {'Mbwas', 'Mangai', True, 2,2,1, 0, False}
class_set

{0, 2, 'Mangai', 'Mbwas', True}

# The set constructor.

It is also possible to use the set() constructor to make a set. In Python, the set constructor refers specifically to the built-in set() function, which is used to create and initialize set objects.

In [5]:
# Example of how the set constructor works

myset1 = set(('Mbwas', 'Favour', 'Melody', 'Melody'))    #The double parenthesis makes it possible to form the set
myset1

{'Favour', 'Mbwas', 'Melody'}

# Python-Access set items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a 'for loop', or ask if a specified value is present in a set, by using the 'in' keyword.

# Add Items
Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

# Add Sets
To add items from another set into the current set, use the update() method.
 The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

 # Remove Item
To remove an item in a set, use the remove(), or the discard() method.

Note: If the item to remove does not exist, remove() will raise an error.  If the item to remove does not exist, discard() will NOT raise an error.

In [6]:
myset1

{'Favour', 'Mbwas', 'Melody'}

In [7]:
for x in myset1:      #how we loop the items in a set
  print(x)

Favour
Mbwas
Melody

In [8]:
#to use the in keyword

print("Mbwas" in myset1)

True

In [9]:
print('Makwal' not in myset1)

True

In [10]:
# To add items
myset1

{'Favour', 'Mbwas', 'Melody'}

In [11]:
myset1.add('Makwal')
myset1

{'Favour', 'Makwal', 'Mbwas', 'Melody'}

In [12]:
# Use the update keyword to add sets

thisset

{'Makwal', 'Mangai', 'Success'}

In [13]:
myset1

{'Favour', 'Makwal', 'Mbwas', 'Melody'}

In [15]:
thisset.update(myset1)
thisset

{'Favour', 'Makwal', 'Mangai', 'Mbwas', 'Melody', 'Success'}

In [16]:
# The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

mydict = {'name': "Mbwas", 'age': 26, 'gender': 'male'}
mydict

{'name': 'Mbwas', 'age': 26, 'gender': 'male'}

In [17]:
thisset

{'Favour', 'Makwal', 'Mangai', 'Mbwas', 'Melody', 'Success'}

In [18]:
thisset.update(mydict)
thisset

{'Favour',
 'Makwal',
 'Mangai',
 'Mbwas',
 'Melody',
 'Success',
 'age',
 'gender',
 'name'}

In [19]:
thisset

{'Favour',
 'Makwal',
 'Mangai',
 'Mbwas',
 'Melody',
 'Success',
 'age',
 'gender',
 'name'}

In [20]:
thisset.remove('name')
thisset

{'Favour', 'Makwal', 'Mangai', 'Mbwas', 'Melody', 'Success', 'age', 'gender'}

In [22]:
thisset.discard('gender')
thisset

{'Favour', 'Makwal', 'Mangai', 'Mbwas', 'Melody', 'Success', 'age'}

In [24]:
# You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

# The return value of the pop() method is the removed item. We can use a variable name to know the item  that is removed from the set,for example:

x = thisset.pop()
x

'Mbwas'

In [25]:
# The clear() method empties the set, for example:
myset1

{'Favour', 'Makwal', 'Mbwas', 'Melody'}

In [27]:
myset1.clear()
myset1

set()

In [36]:
# The 'del' command will delete the set entirely

# Python loops through set

In [37]:
# You can loop through the set items by using a for loop, for example:
thisset

{'Favour', 'Makwal', 'Mangai', 'Melody', 'Success', 'age'}

In [38]:
for i in thisset:
  print(i)

Favour
Melody
Mangai
age
Makwal
Success

# Join sets

There are several ways to join two or more sets in Python.



The union() and update() methods joins all items from both sets.



The intersection() method keeps ONLY the duplicates.



The difference() method keeps the items from the first set that are not in the other set(s).



The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [41]:
# The union() method returns a new set with all items from both sets.

myset2 = {1,2,3,4,5}
myset3 = {9,8,7,6,5}

myset4 = myset2.union(myset3)
myset4

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [43]:
# You can use the | operator instead of the union() method, and you will get the same result.

myset4 = myset2|myset3
myset4

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [47]:
# we can join many sets together under the union
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

set55 = set1.union(set2,set3,set4)
set66 = set1|set2|set3|set4

print(set55)
print(set66)

{'John', 1, 2, 3, 'bananas', 'b', 'Elena', 'a', 'cherry', 'c', 'apple'}
{'John', 1, 2, 3, 'bananas', 'b', 'Elena', 'a', 'cherry', 'c', 'apple'}

# Joining with a tuple or other types of collections

Note: The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

# Update
The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set.

In [49]:
# The union() method allows you to join a set with other data types, like lists or tuples.
# The result will be a set.

x = {1,2,3,4,5,6,7}
y = (2,3,4,1)

z = x.union(y)
z

{1, 2, 3, 4, 5, 6, 7}

# Intersection
Keep ONLY the duplicates

The intersection() method will return a new set, that only contains the items that are present in both sets. The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [50]:
# for example
x.intersection(y)

{1, 2, 3, 4}

In [53]:
# You can use the & operator instead of the intersection() method, and you will get the same result. It works only for sets.
a = {2,3,4,2,3,5}
z = x & a
z

{2, 3, 4, 5}

# Difference
The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

You can use the - operator instead of the difference() method, and you will get the same result. This only works for sets alone.

Symmetric Differences
The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [54]:
g = {'football', 'baseball', 'boxing'}
h = {'baseball', 'boxing'}

i = g.difference(h)
i

{'football'}