<a href="https://colab.research.google.com/github/Mbwas-Ayuba/AI-/blob/main/Pythonlist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Working with list
#To sort list
#List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

#for example

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

#It sorts the list in alphabetical order

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [2]:
#We can even sort the list in numerical order

mynumbers = [12,32,465,34,234,354,33,5,767,34]
mynumbers.sort()
print(mynumbers)

#sorts the lsit  of numbers in ascending order

[5, 12, 32, 33, 34, 34, 234, 354, 465, 767]

In [3]:
#To sort the lists in decending order

thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [4]:
mynumbers.sort(reverse = True)
print(mynumbers)

[767, 465, 354, 234, 34, 34, 33, 32, 12, 5]

In [6]:
#We can use a function to customize the sorting
#for example

def myfunc(n):
  return abs(n - 50)
thislist = [12,122,34,2322,45,50,555,66]
thislist.sort(key = myfunc)
print(thislist)

#the above example is to see the numbers close the number 50

[50, 45, 34, 66, 12, 122, 555, 2322]

In [7]:
# By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:
#for example

list = ['devil', 'Satan', 'sin', 'Crime', 'murder']
list.sort()
list

['Crime', 'Satan', 'devil', 'murder', 'sin']

In [9]:
#So if you want a case-insensitive sort function, use str.lower as a key function:
list.sort(key = str.lower)
list

['Crime', 'devil', 'murder', 'Satan', 'sin']

**Copy List in Python**

You can use the built-in List method copy() to copy a list

In [10]:
thislist

[50, 45, 34, 66, 12, 122, 555, 2322]

In [11]:
mylist = thislist.copy()

In [12]:
mylist

[50, 45, 34, 66, 12, 122, 555, 2322]

# Join Lists

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [15]:
# for example

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [17]:
# Another way to join two lists is by appending all the items from list2 into list1, one by one:

for x in list2:
  list1.append(x)
list1

['a', 'b', 'c', 1, 2, 3]

In [18]:
#Or you can use the extend() method, where the purpose is to add elements from one list to another list:

list1.extend(list2)
list1

['a', 'b', 'c', 1, 2, 3, 1, 2, 3]